/*Variabler*/
$bg-color: #F5F5F5; 
$nav-color: #F5F5F5;
$footer-color: #E8E8E0;
$primary-color: #D4EA69;
$secondary-color: #99b035;
$text-color: #272727;
$padding: 0.5em;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/*Variables declared at the top level of a stylesheet are global.
Those declared in blocks ({}) are usually local, and can only be accessed within the block they were declared.b
*/

//Mixins er en måde at genbruge kode på. Man tager kode som bruges flere steder og samler det i en mixin.

@mixin flex($justify: center, $align: center) { //$justify og $align er parametre som kan ændres når mixin'en kaldes.
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin space($width:700px){
    width: $width;
    padding: 7px;
    margin: 10px auto;
    
}
@mixin bg-img($width:100%){
    background-repeat: no-repeat;
}

@mixin cta-tekst($bg-color: $primary-color, $btn-padding: 0.8em 1em){
    background-color: $bg-color;
    padding: $btn-padding;
    border-radius: 8px;
    color: #F5F5F5;
    text-decoration: none;
    text-align: center;
}
@mixin cta-box($width:20vw){
    background-color: #ffffff;
    width: $width;
    padding: 2em;
    margin: 2em auto;
}

