@use 'partials'; 

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: partials.$font;
    background-color: partials.$bg-color;

    p {
        font-size: 14pt;
        color: partials.$text-color;
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        color: partials.$text-color;
    }
}

img {
    width: 100%;
    height: auto;
}


/*Navigation*/

header {
    @include partials.flex;
    background-color: partials.$nav-color;
    position: sticky;
    top: 0;
    z-index: 10000;

}

nav {
    color: partials.$text-color;
    height: 25px;
    padding: 25px;
    @include partials.flex;

    img {
        width: 70px;
    }

    ul {
        @include partials.flex;
        list-style-type: none;
    }

    a {
        color: partials.$text-color;
        padding: partials.$padding;
        margin: partials.$padding;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    ul a:hover {
        color: partials.$primary-color;
    }
}
.phonenav{
  
        display: none;
        cursor: pointer;

}
   


/*Hero billede*/
.heroimg {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    z-index: -3;


    .banner-tekst {
        left: 5%;
        top: 12%;
        position: absolute;
        width: 50%;
    }

    h1 {
        font-size: 50px;

    }

    a {
        @include partials.cta-tekst;
        position: absolute; 

        &:hover {
            background-color: partials.$secondary-color;
            transition: 0.3s ease-in-out;
        }
    }

    .heroimgmobil {
        display: none;
    }

    .heroimgcomputer {
        border-radius: 60px;
    }
}


/****Slider***/
.slideinfo {
    background-color: transparent;
   display: flex;
   min-height: 80vh;
   color: #E6F0D8;
  
  
   

    .slider { 
        position: relative;
        width: 500%;
        height: 570px;
padding-top: 150px;
        
    }

    .tips { 
        position: absolute;
        width: 300px;
        height: 520px;
        text-align: justify;
        border-radius: 20px;
        padding: 20px;
        transition: 0.5s;
        left: calc(50% - 110px);
        box-shadow: 0 0 40px rgba(20, 20, 20, 0.725);
        background-color: #E8E8E0;
       .h2{font-size: 40px;
    font-weight: 700;}
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    #next,
    #prev {
        position: absolute;
        top: 40%;
        color: #272727;
        border-radius: 100px;
        border-color: solid #272727;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        font-size: xx-large;
        left: 100px;

    }

    #next {
        left: unset;
        right: 100px;
      
    }

}



    .section-to{  @include partials.space;
        position: absolute;
        left: unset;
        right: 100px;
        top: 0;
      

    }


/* interaktiv historie*/
.interaktivhistorie{
    background-image: url(img-password/Skærmbillede\ 2024-04-29\ kl.\ 13.02.14.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #E6F0D8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(115, 144, 94, 0.725);
    margin-top: 150px;
    margin-bottom: 100px;
}
.lock{  @include partials.flex;
    width: 50px;
height: 50px;}

h2 {
    text-align: center;
    color: #333;
    font-weight: 600;
    font-size: 40px;
}

.story {
    text-align: left;
    margin-bottom: 20px;
}

.start-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #D4EA69;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #99b035;
}
.container {
    text-align: center;
}

.story {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.choice-btn {
    padding: 20px;
            margin: 20px;
            border: none;
            cursor: pointer;
            max-width: 500px;
            border-radius: 20px;
            font-size: 16px;
            background-color: #F0F0F0;
            transition: background-color 0.3s ease;
    
        }
.choice-btn:hover{
            background-color:#99b035;
        }
      
        .next-btn {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #D4EA69;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .next-btn:hover {
            background-color: #99b035;
        }
        



/*test kode boks*/

.tjek-kode-bg {
    @include partials.space;
    min-height: 130vh;
    background: transparent;
    gap: 100px;
  }
  .tjekkodetekst{
    margin: 30px;
    margin-right: 40px;
    display: inline;
    
  }
  
  .wrapper {
    margin-top: 100px;
    width: 500px;
    overflow: hidden;
    padding: 28px;
    border-radius: 8px;
    background: #E6F0D8;
    box-shadow: 0 0 40px rgba(115, 144, 94, 0.725);
    
    
    .kode {
      height: 65px;
      width: 450px;
      position: relative;
  
      input {
        width: 100%;
        height: 100%;
        outline: none;
        padding: 0 17px;
        font-size: 1.3rem;
        border-radius: 5px;
        border: 1px solid #999;
  
        &:focus {
          padding: 0 16px;
          border: 2px solid #91c74e;
        }
      }
  
      i {
        right: 18px;
        top: 50%;
        font-size: 1.2rem;
        color: #999;
        cursor: pointer;
        position: absolute;
        transform: translateY(-50%);
      }
    }
  
    .indhold {
      margin: 20px 0 10px;
  
      p {
        color: #333;
        font-size: 1.3rem;
      }
  
      .krav-liste {
        margin-top: 20px;
  
        li {
          font-size: 1.3rem;
          list-style: none;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
  
          i {
            width: 20px;
            color: #91c74e;
            font-size: 0.6rem;
          }
  
          &.valid i {
            font-size: 1.2rem;
            color: #91c74e;
          }
  
          span {
            margin-left: 12px;
            color: #272727;
          }
  
          &.valid span {
            color: #91c74e;
          }
        }
      }
    }
  }


/*få en kode boks*/




/*Footer styling*/

footer{
    height: 50vh;
    background-color: #E6F0D8;
    @include partials.flex;
    flex-direction: column;
}

/**********-----Mobile------**********/
@media screen and (max-width: 900px){

    header:nth-of-type(1){
        display: inline; 
        position: sticky;
        top: 0;
        z-index: 10000;
       
    }
    
    .phonenav {width: 100%;
        background-color:#F5F5F5 ;
            display: flex;
           
           
        }
       .ul{list-style: none;
        float: right;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 5px; 
    z-index: 1;}

        ul li {
            display: inline-block;
            position: relative;
            z-index: 1;
        
        }
    
        ul li a {
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            padding-right: 1px;
            padding-left: 1px;
            text-decoration: none;
            text-align: center;
        }
        ul li ul.dropdown {
            background: #F5F5F5;
            position: absolute;
            text-align: center;
            width: 150px;
            display: none;
        }
    
        ul li a:hover {
            background-color: #F5F5F5;
    
        }
    
        ul li:hover ul.dropdown {
            display: block;
        }
    
        .link {
            color: #272727;
            padding-top: 20px;
            padding-right: 30px;
            padding-left: 30px;
        }
    
    
        .lås { z-index: 1;
            padding-top: 15px;
    
        }
    
        .kom {
            height: 55px;
           
        }
    .desktop-nav{
        display: none;
        height: auto;
        border-top: 4px solid partials.$primary-color;
    
        ul{
            flex-direction: column;
        }
        li{
            display: flex;
        }
    }
    
    .heroimg {
        position: relative;
        margin-left: 30px;
        margin-right: 30px;
        min-height: 300px;
        z-index: -3;
    
    
        .banner-tekst {
            left: 10%;
            top: 10%;
            position: absolute;
            width: 50%;
        }
    
        h1 {
            font-size: 20px;
    
        }
        p{
            font-size: 18px;
        }
    
        a {
            @include partials.cta-tekst;
            position: absolute; 
    
            &:hover {
                background-color: partials.$secondary-color;
                transition: 0.3s ease-in-out;
            }
        }
    
        .heroimgmobil {
            display: flex;
            height: 400px;
            border-radius: 30px;
        }
    
        .heroimgcomputer {
            display: none;
        }
    
    }
    
    
    /****Slider***/
    .slideinfo {
        background-color: transparent;
       display: inline;
       min-height: 80vh;
       color: #E6F0D8;
      
      
       
    
        .slider { 
            position: relative;
            width: 100%;
            height: 370px;
    padding-top: 150px;
  
    
    
            
        }
    
        .tips { 
            position: absolute;
            width: 200px;
            height: 420px;
            text-align: justify;
            border-radius: 20px;
            padding: 20px;
            transition: 0.5s;
            display: flex;
            flex-direction: column;
    align-items: center;

   
   


            left: calc(50% - 110px);
            box-shadow: 0 0 40px rgba(20, 20, 20, 0.725);
            background-color: #E8E8E0;
           .h2{
        font-weight: 700;}
        }
    
        #next,
        #prev {
            position: absolute;
            top: 40%;
            color: #272727;
            border-radius: 100px;
            border-color: solid #272727;
            padding-left: 10px;
            padding-right: 15px;
            padding-bottom: 5px;
            font-size: xx-large;
            left: 10px;
    
        }
    
        #next {
            left: unset;
            right: 10px;
          
        }
       
    
    }
    
    
    
        .section-to{  @include partials.space;
            position: absolute;
            left: unset;
            right: 100px;
            top: 0;
          
    
        }
    
    
    /* interaktiv historie*/
    .interaktivhistorie{
        background-image: url(img-password/Skærmbillede\ 2024-04-29\ kl.\ 13.02.14.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
    .container {
        max-width: 800px;
        margin: 50px auto;
        background-color: #E6F0D8;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(115, 144, 94, 0.725);
        margin-top: 150px;
        
    }
    .lock{  @include partials.flex;
        width: 50px;
    height: 50px;}
    
    h2 {
        text-align: center;
        color: #333;
        font-weight: 600;
        font-size: 20px;
    }
    
    .story {
        text-align: left;
        margin-bottom: 20px;
    }
    
    .start-btn {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #D4EA69;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .start-btn:hover {
        background-color: #99b035;
    }
    .container {
        text-align: center;
    }
    
    .story {
        max-width: 600px;
        margin: 0 auto;
        text-align: left;
    }
    
    .choice-btn {
        padding: 20px;
                margin: 20px;
                border: none;
                cursor: pointer;
                max-width: 500px;
                border-radius: 20px;
                font-size: 16px;
                background-color: #F0F0F0;
                transition: background-color 0.3s ease;
        
            }
    .choice-btn:hover{
                background-color:#99b035;
            }
          
            .next-btn {
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                background-color: #D4EA69;
                color: #fff;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
            
            .next-btn:hover {
                background-color: #99b035;
            }
            
    
    
    
    /*test kode boks*/
    
    .tjek-kode-bg {
        @include partials.space;
        flex-direction: column;
        min-height: 110vh;
        background: transparent;
        @include partials.flex;
      }
      .tjekkodetekst{
        margin: 30px;
        margin-right: 40px;
        display: inline;
      }
      
      .wrapper {
        max-width: 300px;
        overflow: hidden;
        padding: 28px;
        border-radius: 8px;
        background: #E6F0D8;
        box-shadow: 0 0 40px rgba(115, 144, 94, 0.725);
        
        
        .kode {
          height: 65px;
          width: 250px;
          position: relative;
      
          input {
            width: 100%;
            height: 100%;
            outline: none;
            padding: 0 17px;
            font-size: 1.3rem;
            border-radius: 5px;
            border: 1px solid #999;
      
            &:focus {
              padding: 0 16px;
              border: 2px solid #91c74e;
            }
          }
      
          i {
            right: 18px;
            top: 50%;
            font-size: 1.2rem;
            color: #999;
            cursor: pointer;
            position: absolute;
            transform: translateY(-50%);
          }
        }
      
        .indhold {
          margin: 20px 0 10px;
      
          p {
            color: #333;
            font-size: 1.3rem;
          }
      
          .krav-liste {
            margin-top: 20px;
      
            li {
              font-size: 1.3rem;
              list-style: none;
              display: flex;
              align-items: center;
              margin-bottom: 15px;
      
              i {
                width: 20px;
                color: #91c74e;
                font-size: 0.6rem;
              }
      
              &.valid i {
                font-size: 1.2rem;
                color: #91c74e;
              }
      
              span {
                margin-left: 12px;
                color: #272727;
              }
      
              &.valid span {
                color: #91c74e;
              }
            }
          }
        }
      }
    
    
    /*få en kode boks*/
    
    
    
    
    /*Footer styling*/
    
    
    
    }


    



