@use 'partials'; 

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: partials.$font;
    background-color: partials.$bg-color;

    p {
        font-size: 14pt;
        color: partials.$text-color;
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        color: partials.$text-color;
    }
}

img {
    width: 100%;
    height: auto;
}


/*Navigation*/

header {
    @include partials.flex;
    background-color: partials.$nav-color;

}

nav {
    color: partials.$text-color;
    height: 25px;
    padding: 25px;
    @include partials.flex;

    img {
        width: 70px;
    }

    ul {
        @include partials.flex;
        list-style-type: none;
    }

    a {
        color: partials.$text-color;
        padding: partials.$padding;
        margin: partials.$padding;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }

    ul a:hover {
        color: partials.$primary-color;
    }
}
.phonenav{
    display: none;
}



.openburger {
    color: partials.$primary-color;
}

/*Hero billede*/
.heroimg {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;


    .banner-tekst {
        left: 5%;
        top: 25%;
        position: absolute;
    }

    h1 {
        font-size: 50px;

    }

    a {
        @include partials.cta-tekst;
        position: absolute; 

        &:hover {
            background-color: partials.$secondary-color;
            transition: 0.3s ease-in-out;
        }
    }

    .heroimgmobil {
        display: none;
    }

    .heroimgcomputer {
        border-radius: 60px;
    }
}

/********Forside styling********/

.sectionwrapper {
    position: relative;
    min-height: 100vh;


    .section-et {
        @include partials.space;
        float: left;
        margin-left: 100px;
        position: absolute;
        top: 5%;
    }
}

/****Slider***/
.slideinfo {
    background-color: transparent;
   display: flex;
   min-height: 80vh;
  
   

    .slider {
        position: relative;
        width: 500%;
        height: 370px;
        
    }

    .tips {
        position: absolute;
        width: 300px;
        height: 420px;
        text-align: justify;
        background-color: #D4EA69;
        border-radius: 20px;
        padding: 20px;
        transition: 0.5s;
        left: calc(50% - 110px);
       
    }

    #next,
    #prev {
        position: absolute;
        top: 40%;
        color: #D4EA69;
        background-color: transparent;
        border-radius: 100px;
        border-color:  #D4EA69;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        font-size: xx-large;
        left: 100px;

    }

    #next {
        left: unset;
        right: 100px;
      
    }

}
.sectionkodekrav{@include partials.flex;
    position: relative;


    .section-to{  @include partials.space;
        position: absolute;
        left: unset;
        right: 100px;
        top: 0;
      

    }

}


/*test kode boks*/


/*få kode boks*/




/*Footer styling*/



/**********-----Mobile------**********/
@media screen and (max-width: 680px) {

    header:nth-of-type(1) {
        display: inline; //display: inline; gør at elementet fylder kun den plads som det behøver og vil derfor stå ved siden af andre elementer.
    }
    .phonenav{
        color: partials.$primary-color;
        display: contents;

        .bars {
            display: flex;
        }
    }

    .desktop-nav {
        display: none;
        height: auto;
        border-top: 4px solid partials.$primary-color;

        ul {
            flex-direction: column;
        }

        li {
            display: flex;
        }
    }

    .header-img {

        .banner-tekst {
            left: 5%;
            top: 15%;
        }

        h1 {
            font-size: 5vw;
        }

        p {
            font-size: 4vw;
        }

        .bg-billede-desktop {
            display: none;
        }

        .bg-billede-mobil {
            display: initial;
        }
    }


    

}

