@charset "UTF-8";
/*Variabler*/
/*Variables declared at the top level of a stylesheet are global.
Those declared in blocks ({}) are usually local, and can only be accessed within the block they were declared.b
*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F5F5F5;
}
body p {
  font-size: 14pt;
  color: #272727;
  line-height: 1.5;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 600;
  color: #272727;
}

img {
  width: 100%;
  height: auto;
}

/*Navigation*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

nav {
  color: #272727;
  height: 25px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav img {
  width: 70px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
nav a {
  color: #272727;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
nav ul a:hover {
  color: #D4EA69;
}

.phonenav {
  display: none;
}

.openburger {
  color: #D4EA69;
}

/*Hero billede*/
.heroimg {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}
.heroimg .banner-tekst {
  left: 5%;
  top: 25%;
  position: absolute;
}
.heroimg h1 {
  font-size: 50px;
}
.heroimg a {
  background-color: #D4EA69;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #272727;
  text-decoration: none;
  text-align: center;
  position: absolute;
}
.heroimg a:hover {
  background-color: #99b035;
  transition: 0.3s ease-in-out;
}
.heroimg .heroimgmobil {
  display: none;
}
.heroimg .heroimgcomputer {
  border-radius: 60px;
}

/********Forside styling********/
.sectionwrapper {
  position: relative;
  min-height: 100vh;
}
.sectionwrapper .section-et {
  width: 600px;
  padding: 7px;
  margin: 10px auto;
  float: left;
  margin-left: 100px;
  position: absolute;
  top: 5%;
}

/****Slider***/
.slideinfo {
  background-color: transparent;
  display: flex;
  min-height: 80vh;
}
.slideinfo .slider {
  position: relative;
  width: 500%;
  height: 370px;
}
.slideinfo .tips {
  position: absolute;
  width: 300px;
  height: 420px;
  text-align: justify;
  background-color: #D4EA69;
  border-radius: 20px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
}
.slideinfo #next,
.slideinfo #prev {
  position: absolute;
  top: 40%;
  color: #D4EA69;
  background-color: transparent;
  border-radius: 100px;
  border-color: #D4EA69;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  font-size: xx-large;
  left: 100px;
}
.slideinfo #next {
  left: unset;
  right: 100px;
}

.sectionkodekrav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sectionkodekrav .section-to {
  width: 600px;
  padding: 7px;
  margin: 10px auto;
  position: absolute;
  left: unset;
  right: 100px;
  top: 0;
}

/*test kode boks*/
/*få kode boks*/
/*Footer styling*/
/**********-----Mobile------**********/
@media screen and (max-width: 680px) {
  header:nth-of-type(1) {
    display: inline;
  }
  .phonenav {
    color: #D4EA69;
    display: contents;
  }
  .phonenav .bars {
    display: flex;
  }
  .desktop-nav {
    display: none;
    height: auto;
    border-top: 4px solid #D4EA69;
  }
  .desktop-nav ul {
    flex-direction: column;
  }
  .desktop-nav li {
    display: flex;
  }
  .header-img .banner-tekst {
    left: 5%;
    top: 15%;
  }
  .header-img h1 {
    font-size: 5vw;
  }
  .header-img p {
    font-size: 4vw;
  }
  .header-img .bg-billede-desktop {
    display: none;
  }
  .header-img .bg-billede-mobil {
    display: initial;
  }
}/*# sourceMappingURL=style.css.map */